In [86]:
import pandas as pd
import numpy as np
import joblib
from time import time

In [87]:
import joblib

def test_model(txt):
    print(txt)
    model_main = joblib.load('data/model/model_section.pkl')
    products = txt  # Video game consoles : 95
    p = model_main.predict([products])[0] 
    
    if p <10:
        a = str(p)
        a = ("0"+a)
    else:
        a = str(p)
    print(a)
    model_2 = joblib.load('data/model/model_'+a+'.pkl')
    predicts = model_2.predict([products])[0]  
    print(predicts)
    return predicts

In [88]:
import re 
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.svm import LinearSVC
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import GridSearchCV
from sklearn.metrics import classification_report
from sklearn.pipeline import Pipeline
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.svm import LinearSVC
from sklearn.feature_extraction.text import TfidfTransformer
from sklearn.multiclass import OneVsRestClassifier
from sklearn.metrics import confusion_matrix, accuracy_score

In [89]:
import joblib

def test_model_list(txt):
    
    model_main = joblib.load('data/model/model_section.pkl')
    products = txt  # Video game consoles : 95
    p = model_main.predict([products])[0] 
    
    if p <1000:
        a = str(p)
        a = ("0"+a)
    else:
        a = str(p)
   
    model_2 = joblib.load('data/model/model_'+a+'.pkl')
    predicts = model_2.predict([products])[0]          
        
    return predicts

In [103]:
urls = "data/test-data.xlsx"
sheets = "wto"
data = pd.read_excel(urls, sheet_name=sheets)
data = data[data['level'] == 4]
data

       level  target                                        description
1          4     101             Live horses, asses, mules and hinnies.
6          4     102                               Live bovine animals.
12         4     103                                        Live swine.
16         4     104                              Live sheep and goats.
19         4     105  Live poultry, that is to say, fowls of the spe...
...      ...     ...                                                ...
40208      4    9702       Original engravings, prints and lithographs.
40210      4    9703  Original sculptures and statuary, in any mater...
40212      4    9704  Postage or revenue stamps, stamp-postmarks, fi...
40214      4    9705  Collections and collectors' pieces of zoologic...
40216      4    9706    Antiques of an age exceeding one hundred years.

[7326 rows x 3 columns]

In [104]:
data= data.sample(1000)
data

       level  target                                        description
11062      4    7103  Precious stones (other than diamonds) and semi...
8820       4    3202  Synthetic organic tanning substances; inorgani...
34754      4    2524                                          Asbestos.
16546      4    5102  Fine or coarse animal hair, not carded or combed.
648        4     910  Ginger, saffron, turmeric (curcuma), thyme, ba...
...      ...     ...                                                ...
10861      4    6802  Worked monumental or building stone (except sl...
16975      4    5602  Felt, whether or not impregnated, coated, cove...
6249       4    9002  Lenses, prisms, mirrors and other optical elem...
8481       4    2916  Unsaturated acyclic monocarboxylic acids, cycl...
24868      4    7325              Other cast articles of iron or steel.

[1000 rows x 3 columns]

In [105]:
df = data[['target', 'description']]
df['description'] = df['description'].str.lower()
df['target'] = df['target'].apply(str)
df

C:\Users\ASUS\.conda\envs\env_ml\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\ASUS\.conda\envs\env_ml\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

      target                                        description
11062   7103  precious stones (other than diamonds) and semi...
8820    3202  synthetic organic tanning substances; inorgani...
34754   2524                                          asbestos.
16546   5102  fine or coarse animal hair, not carded or combed.
648      910  ginger, saffron, turmeric (curcuma), thyme, ba...
...      ...                                                ...
10861   6802  worked monumental or building stone (except sl...
16975   5602  felt, whether or not impregnated, coated, cove...
6249    9002  lenses, prisms, mirrors and other optical elem...
8481    2916  unsaturated acyclic monocarboxylic acids, cycl...
24868   7325              other cast articles of iron or steel.

[1000 rows x 2 columns]

In [106]:
df.columns = ['target', 'data']
df

      target                                               data
11062   7103  precious stones (other than diamonds) and semi...
8820    3202  synthetic organic tanning substances; inorgani...
34754   2524                                          asbestos.
16546   5102  fine or coarse animal hair, not carded or combed.
648      910  ginger, saffron, turmeric (curcuma), thyme, ba...
...      ...                                                ...
10861   6802  worked monumental or building stone (except sl...
16975   5602  felt, whether or not impregnated, coated, cove...
6249    9002  lenses, prisms, mirrors and other optical elem...
8481    2916  unsaturated acyclic monocarboxylic acids, cycl...
24868   7325              other cast articles of iron or steel.

[1000 rows x 2 columns]

In [101]:
df.loc[:, lambda df: ['data']]

                                                    data
22229  colouring matter of vegetable or animal origin...
15137  aldehydes, whether or not with other oxygen fu...
24751  other tubes and pipes (for example, welded, ri...
597    fruit, dried, other than that of headings 08.0...
10304  articles of yarn, strip or the like of heading...
...                                                  ...
24974                         aluminium waste and scrap.
9101   prepared binders for foundry moulds or cores; ...
5826   electrical lighting or signalling equipment (e...
39735  fishing vessels; factory ships and other vesse...
30643  women's or girls' slips, petticoats, briefs, p...

[1000 rows x 1 columns]

In [108]:
results = ""
#df.dropna(inplace=True)
data_test = df.loc[:, lambda df: ['data']]
data_targets = df.loc[:, lambda df: ['target']]
d = []
t = []
r = []
c = []
for i in range(len(data_test)):
    results = test_model_list(data_test[i])
    d.append(data_test[i])
    t.append(data_targets[i])
    r.append(results)
    if results ==data_targets[i]:
        c.append(1)
    else:
        c.append(0)

datas = [d,t,r,c]
df_result = pd.DataFrame(datas)
df_result

KeyError: 0

In [ ]:
zippedList =  list(zip(d,t,r,c))
df = pd.DataFrame(zippedList, columns = ['data' , 'target', 'result','check']) 
df

In [ ]:
df['check'].count()

In [ ]:
df = pd.DataFrame(zippedList, columns = ['data','target','result','check'])
#df, index=['d', 't','r', 'c']
df